
BackEnd/\.vs/

BackEnd/packages/

BackEnd/Top20Video\.AutoService/bin/

BackEnd/Top20Video\.AutoService/obj/

BackEnd/Top20Video\.Data/bin/

BackEnd/Top20Video\.Data/obj/

BackEnd/Top20Video\.Framework/bin/

BackEnd/Top20Video\.Framework/obj/

BackEnd/Top20Video\.Model/bin/

BackEnd/Top20Video\.Model/obj/

BackEnd/Top20Video\.Repository/bin/

BackEnd/Top20Video\.Repository/obj/

BackEnd/Top20Video\.Web/bin/

BackEnd/Top20Video\.Web/obj/

BackEnd/Top20Video\.YouTubeAPI/bin/

BackEnd/Top20Video\.YouTubeAPI/obj/

BackEnd/Top20Video\.Web/bin\.zip

BackEnd/Top20Video\.Web/Log/

MobileApp/Top20Videos/\.vs/config/

MobileApp/Top20Videos/\.vs/Top20Videos/v15/

MobileApp/Top20Videos/packages/

MobileApp/Top20Videos/Top20Videos/Top20Videos\.Droid/bin/

MobileApp/Top20Videos/Top20Videos/Top20Videos\.Droid/obj/

MobileApp/Top20Videos/Top20Videos/Top20Videos\.iOS/bin/

MobileApp/Top20Videos/Top20Videos/Top20Videos\.iOS/obj/

MobileApp/Top20Videos/Top20Videos/Top20Videos/bin/

MobileApp/Top20Videos/Top20Videos/Top20Videos/obj/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos\.Android/bin/Debug/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos\.Android/obj/Debug/81/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos\.Android/obj/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos\.iOS/bin/iPhoneSimulator/Debug/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos\.iOS/obj/iPhone/Debug/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos\.iOS/obj/iPhoneSimulator/Debug/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos\.iOS/obj/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos/bin/Debug/netstandard2\.0/

MobileAppNew/Top20Videos/Top20Videos/Top20Videos/obj/

MobileAppTest/
