<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--<connectionStrings><add name="dbLalitLoyalty" connectionString="metadata=res://*/Top20Video.csdl|res://*/Top20Video.ssdl|res://*/Top20Video.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.10.41;initial catalog=Drop_Shipping;persist security info=True;user id=sqluser;password=sqluser;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="dbTop20Video_9359Entities" connectionString="metadata=res://*/Top20Video.csdl|res://*/Top20Video.ssdl|res://*/Top20Video.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.164,1489;initial catalog=dbTop20Video_9359;user id=shiv;password=p@ssw0rd1111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Staging Server-->
    <!--<add name="dbTop20Video_9359Entities" connectionString="metadata=res://*/Top20Video.csdl|res://*/Top20Video.ssdl|res://*/Top20Video.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.191.118.95,1533;initial catalog=dbTop20Video_9359;user id=dbTop20Video_9359;password=TBcdghf393F;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="dbTop20Video_9359Entities" connectionString="metadata=res://*/Top20Video.csdl|res://*/Top20Video.ssdl|res://*/Top20Video.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=top20;persist security info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>