<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.top20today.tubetop20today" android:versionName="1.1.0" android:installLocation="auto" android:versionCode="11">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="27" />
	<uses-sdk android:targetSdkVersion="25" />
	<application android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="Tube Top20 TODAY"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>