<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="ytApiKey" value="AIzaSyAi-Eceq9LlqBya9OJ7pjAnkxTpKZMlTlA"/> MS-->
    <add key="ytApiKey" value="AIzaSyALsF5cT0btJlaBJzKxadGyVtWfSrxBBgw" />
    <!--<add key="ytApiKey" value="AIzaSyAE6ShX9tkNilrbRa0YbSxFbMkzehfVo0s" />-->
    <add key="MaxResult" value="20" />
    <add key="GamingYouTubeId" value="20" />
    <add key="ApiUrlCategory" value="http://localhost:60869/api/category" />
    <add key="ApiUrlRegion" value="http://localhost:60869/api/region" />
    <add key="ApiUrlVideo" value="http://localhost:60869/api/video/{region}/{category}" />
  </appSettings>
  <connectionStrings>
    <!--Local Server-->
    <add name="dbTop20Video_9359Entities" connectionString="metadata=res://*/Top20Video.csdl|res://*/Top20Video.ssdl|res://*/Top20Video.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.191.118.95,1533;initial catalog=dbTop20Video_9359;user id=dbTop20Video_9359;password=TBcdghf393F;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Staging Server-->
    <!--<add name="dbTop20Video_9359Entities" connectionString="metadata=res://*/Top20Video.csdl|res://*/Top20Video.ssdl|res://*/Top20Video.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=74.53.186.157,1533;initial catalog=dbTop20Video_9359;user id=dbTop20Video_9359;password=TBcdghf393F;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>